/**
  CSS elements from desktop version to hide
  nav-link-word
  note-search-container
**/

#content-wrapper{
  width: 100%;
}
/**
  New nav, move to bottom of page and take out words
**/
.nav-link-word{
  display: none;
}

nav{
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: none;
  background-color: white;
  margin-bottom: 0%;
  height: 8vh;
  z-index: 1000;
  justify-content: space-around;
  border-top: solid thin #eee;
  z-index: 1000000;
}

nav a{
  color: #999;
  margin: 0%;
  font-size: 130%;
}

nav i{
  position: relative;
  padding-top: 15%;
}

/**
 Header move to top
**/
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #4285f4;
  color: white;
  text-align: center;
  font-size: 120%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

/**
  Search form
**/

#note-search-container{
  position: fixed;
  top: 5%;
  left: 0;
  z-index: 100;
  color: white;
  text-align: center;
  font-size: 100%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

#note-search-container button{
  width: 15%;
  border: none;
  border-radius: 0px;
  background-color: white;
  border-bottom: solid thin #999;
}

#note-search{
  border-radius: 0px;
  border: none;
  border-bottom: solid thin #999;
}

.fa-search{
  font-size: 150%;
  color: #4285f4;
}

#search-word{
  width: 50%;
  background-color: #6f6f6f;
  margin: auto;
  border-radius: 500px;
  text-align: center;
  padding: 1%;
  position: relative;
}

/**
  Search icon and sort-down icon
**/
.fa-sort-down{
  visibility:visible;
}
/**
  new note textarea,
**/

main{
  display: none;
  width: 100%;
  padding-top: 5%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 0%;
}

#cancel-note{
  display: block;
  width: 20%;
  margin-left: 0%;
  position: absolute;
  top: 0;
  padding: 2%;
}

#cancel-note a{
  text-decoration: none;
  color: #4285f4;
}

#add-title-note{
  width: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
}

#note{
  height: 50vh;
  width: 100%;
  margin-top: 25%;
  border: none;
  font-size: 100%;
}

#add-title{
  width: 100%;
  padding: 2%;
  border: none;
  border-radius: 0px;
  background: none;
  border-bottom: solid thin #999;
  margin-top: 5%;
}

#add-note{
  width: 20%;
  border-radius: 5000px;
  padding: 1%;
  margin-left: 75%;
}

/**
  Hide the 'new note'
**/
#new-note-container{
  display: none;
}

/**
  Changes to the notes
**/
aside{
  display: block;
  width: 95%;
  margin-top: 30%;
}

.textarea-container{
  margin-top: 0%;
}

.title{
  padding-top: 10%;
}

.delete{
  top: 2%;
  left: 2%;
  z-index: 100;
}

#new-note-button{
  display: block;
  z-index: 1000;
  position: fixed;
  bottom: 12%;
  right: 5%;
  width:60px;
  height:60px;
  border-radius:50%;
  background-color: white;
  box-shadow:0 3px 3px -2px rgba(0,0,0,0.2),0 3px 4px 0 rgba(0,0,0,0.14),0 1px 8px 0 rgba(0,0,0,0.12);
}

.fa-pencil-alt{
  font-size: 110%;
  color: #4285f4;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.fa-plus{
  color: #4285f4;
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 80%;
}

/**
  Active Link color Change
**/
.active{
  color: #4285f4;
}

#Settings-hidden{
  left: auto;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 45%;
}


.open{
  position: absolute;
  z-index: 1000;
  top: 6.1%;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 15%;
  text-align:center;
  border: none;
  border-left: solid thin #999;
}

.open a{
  text-decoration: none;
  color:#999;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-top: none;
  font-size: 95%;
}

.open a:first-child{
  border-top: none;
}

.open a:hover{
  filter: brightness(90%);
}
